<ion-content [fullscreen]="true">
  <div class="contact-section">
    <div class="contact-item">
      <ion-icon name="mail-outline" size="large"></ion-icon>
      <p>crzymost&#64;outlook.com</p>
    </div>
    <div class="contact-item">
      <ion-icon name="call-outline" size="large"></ion-icon>
      <p>+52 4491910596</p>
    </div>
    <div class="contact-item">
      <ion-icon name="logo-linkedin" size="large"></ion-icon>
      <a href="https://www.linkedin.com/in/david-figueroa-jasso-696a9524a" target="_blank">LinkedIn</a>
    </div>
    <div class="contact-item">
      <ion-icon name="logo-github" size="large"></ion-icon>
      <a href="https://github.com/Davdick" target="_blank">Github</a>
    </div>
  </div>
</ion-content>
