

ion-col {
    
   
    color: #fff;
    text-align: center;
  }
  a {
    color: inherit;      /* Usa el color del elemento padre o puedes definir uno específico */
    text-decoration: none; /* Quita el subrayado */
    font-size:xx-large;
  }
  a:hover{
    color: grey;
  }
  ul {
    list-style-type: none; /* Quita el símbolo de viñeta */
    padding-left: 0; /* Opcional: elimina el espacio extra a la izquierda */
  }
 
  :host {
    --ion-background-color: #f9f9f9;
  }